<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      App bmi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"[fullscreen]="true">
  <ion-card color="dark" class="ion-padding">
   <div class="ion-text-center"><img style="width: 170px;" src="../../assets/img/ลลล (1).png"></div>
   <ion-item>
    <ion-input label="น้ำหนัก" placeholder="Kg"></ion-input>
  </ion-item>

   <ion-item>
    <ion-input label="ส่วนสูง" placeholder="Cm"></ion-input>
  </ion-item>
   <div class="ion-text-center">
  </div>
  <br>
  <ion-button color="warning" size="large" expand="block" shape="round">คำนวณ</ion-button>
  </ion-card>

  <ion-button color="warning" size="large" expand="block">ผลลัพธ์</ion-button>
   <ion-button size="large" expand="block" (click)="goLogin()">

    แปรผล
  </ion-button>
 </ion-content>
