<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      BMI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"[fullscreen]="true">
  <ion-card color="dark" class="ion-padding">
   <div class="ion-text-center"><img style="width: 170px;" src="../../assets/img/ลลล (1).png"></div>
   <ion-item>
    <ion-input label="น้ำหนัก" placeholder="Kg" [(ngModel)]="weight"></ion-input>
  </ion-item>

   <ion-item>
    <ion-input label="ส่วนสูง" placeholder="Cm" [(ngModel)]="hight"></ion-input>
  </ion-item>
   <div class="ion-text-center">
  </div>
  <br>
  <ion-button color="warning" size="large" expand="block" shape="round" (click)="oncal()">คำนวณ</ion-button>
  </ion-card>

  <ion-card color="med">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">ผลลัพธ์</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{ result | number :'1.0-2'}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">แปรผล</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{ result_text }}</ion-card-title>
    </ion-card-header>
  </ion-card>
 </ion-content>
